fos_user:
    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
    firewall_name: api
    user_class: App\Entity\User

    from_email:
        address: env(MAILER_ADDRESS)
        sender_name: env(MAILER_USER)

    registration:
        form:
            type: App\Form\RegistrationFormType

    group:
        group_class: App\Entity\UserGroup
        form:
            type: App\Form\UserGroupFormType